﻿.progressbars{
    padding-top:15px;
}
.progressbars .numbers{
    color:#808080;
}
.core-progressbar-container{
    border-radius:5px;
}
.core-progressbar-container > div:first-child{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}