﻿.x-panel-right-stat{
    border-bottom: 1px solid #535353;
    padding-bottom: 20px;
    padding-top: 10px;
}

.grid-right-stat .x-grid-header-ct,
.grid-right-stat .x-grid-header-ct .x-column-header{
    background-color:transparent;
    border:none;
}
.grid-right-stat .x-grid-header-ct .x-column-header-over{
    background-color:transparent;
}
.grid-right-stat .x-grid-header-ct .x-column-header-text-inner{
    color:#808080;
    font-size:14px;
    font-weight:normal;
}
.grid-right-stat .x-grid-header-ct .x-column-header:first-child .x-column-header-inner{
    padding:7px 10px 7px 0;
}
.grid-right-stat .x-grid-body{
    background:transparent;
    border-color: transparent !important;
}
.grid-right-stat .x-grid-body .x-grid-item,
.grid-right-stat .x-grid-body .x-grid-item-selected,
.grid-right-stat .x-grid-body .x-grid-cell-row-numberer{
    background-color:transparent;
    border-color:transparent;
} 

.grid-right-stat .x-grid-body .x-grid-item .x-grid-cell-inner{
    padding:5px 0 4px 0;
}