﻿$button-small-font-size:14px;
$button-default-background-color:#269eff;
$button-small-font-weight:normal;
$button-default-border-color:transparent;
$button-default-background-color-over:#63b7fa;
$button-small-padding:8px;
$button-opacity-disabled: 1;
$button-default-background-color-disabled :#333333;
$button-default-color-disabled:#808080;
$button-default-border-color-disabled:#5a5a5a;
$button-default-background-gradient-disabled:none;