﻿.app-task-filter-status .x-panel-body-white{
    font-size:14px;
}
.app-task-filter-status .status-round{
    display:inline-block;
    width:16px;
    height:16px;
    border-radius:8px;
}
.app-task-filter-status .status-round-1{
    background-color:#ffda2b;
}
.app-task-filter-status .status-round-2{
    background-color:#1bad03;
}
.app-task-filter-status .status-round-3{
    background-color:#df0024;
}
.app-task-filter-status .status-field-spacer{
    margin-right:30px;
}