.x-spotlight {
    background-color: #262626;
    z-index: 1000;
    opacity: 0.9;
}

.galleryText {
    font-size: 13px;
}

.galleryTitle {
    border-width: 0 !important;
    border-radius: 0;
    background-color: #262626;
    opacity: 0.9;
}

.previewPanel {
    padding-left: 5px;
    padding-right: 5px;
}

.galleryImage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.miniImage {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-width: 2px;
    margin: 5px;
}
.miniImage:hover {
    background-color: transparent;
}
.miniImage:active {
    background-color: transparent !important;
}