﻿.app-photos .arrow{
    background-color:#e8e8e8;
}
.app-photos .arrow .x-btn-icon-el{
    background-color:#f2f2f2;
    border:1px solid #d4d4d4;
    padding-top:7px;
    width:32px;
    height:32px;
}

.app-photos .thumb-wrap{
    margin-right:5px;
}

.app-photos .thumb-wrap img{
    cursor:pointer;
}

.app-photos .thumb-wrap.active img {
    border:2px solid #ce0000;
}

.app-photos .photo-date span:first-child{
    color:#cccccc;
}

.app-photos .photo-date span:last-child{
    color:#959595;
    margin-left:5px;
}

.app-photos .pager{
    color:#262626;
}

.app-photos .pager span:first-child{
    color:#4972b6;
}