﻿.document-field{

}

.document-field .item{
    overflow:hidden;
}

.document-field .item b{
    display:inline-block;
    width: 250px;
    padding-bottom:10px;
}

.document-field .item span{
    display:inline-block;
}