﻿.app-task-items{
    border-bottom:1px solid #d4d4d4 !important;
}

.app-task-items .x-panel-header-default{
    background-color:#323232;
}
.app-task-items .x-panel-header-title-default{
    color:#c1b394;
    font-weight:normal;
}

.app-task-items .x-grid-header-ct{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:3px solid #d4d4d4 !important;
}

.app-task-items .x-grid-header-ct,
.app-task-items .x-grid-header-ct .x-column-header{
    background-color:transparent;
    border:none;
}
.app-task-items .x-grid-header-ct .x-column-header-over{
    background-color:transparent;
}
.app-task-items .x-grid-header-ct .x-column-header-text-inner {
    color:#262626;
    font-size:14px;
    font-weight:normal;
}
.app-task-items .x-grid-body .x-grid-cell-inner{
    color:#262626;
    font-size:14px;
}
.app-task-items .x-grid-header-ct .x-column-header:first-child .x-column-header-inner{
    padding:7px 10px 7px 0;
}
.app-task-items .x-grid-body{
    background:transparent;
    border-color: transparent !important;
}
.app-task-items .x-grid-with-row-lines .x-grid-item.x-grid-item-over{
    border-color:transparent;
    background-color:#f2f2f2;
}

.app-task-items .x-grid-cell-row-numberer{
    background-color:transparent;
}

.app-task-items .x-grid-cell-special{
    border-color:transparent;
}

.app-task-items .x-grid-body .x-grid-item {
    border-bottom:1px solid #d4d4d4 !important;
    padding-top:7px;
    padding-bottom:7px;
    background-color:transparent;
}

.app-task-items .x-grid-body .x-grid-item-selected{
    border-color:transparent;
    background-color:#f2f2f2;
}

.app-task-items .x-grid-row .x-grid-cell-selected{
    background-color:transparent;
}

.app-task-items .x-grid-body .x-grid-item .x-grid-cell-inner{
    padding:5px 0 4px 0;
}
.x-toolbar-white-paging {
    padding-top:25px;
}
.x-toolbar-white-paging .x-toolbar-text-default{
    color:#269eff;
}

.x-toolbar-white-paging .x-form-text-default{
    color:#269eff;
}
.x-toolbar-white-paging .x-tbar-page-number .x-form-trigger-wrap-default{
    border-color:#d4d4d4;
}
.x-toolbar-white-paging .core-progressbar-container div:last-child{
    font-size:14px;
    padding-top:9px;
}
.app-task-items .task-info{
    color:#cb2e3c;
    font-size:14px;
}

.app-task-items .x-grid-with-row-lines .x-grid-item-selected + .x-grid-item{
    border-top-color:transparent;
}




@media (max-width: $responsive-width), (max-height: $responsive-height) {
    .app-task-items .x-grid-header-ct{
        padding-bottom:0;
        padding-top:0;
        border-bottom:3px solid #d4d4d4 !important;
    }
    .app-task-items .x-grid-header-ct .x-column-header-text-inner {
        color:#262626;
        font-size:13px;
        font-weight:normal;
    }
    .app-task-items .x-grid-body .x-grid-cell-inner{
        color:#262626;
        font-size:13px;
    }
    .app-task-items .x-grid-body .x-grid-item {
        border-bottom:1px solid #d4d4d4 !important;
        padding-top:0;
        padding-bottom:0;
        background-color:transparent;
    }
}