.userlist{
    border-top:1px solid #535353 !important;
}
::-webkit-scrollbar {
    background-color: #5c5c5c;
} 

::-webkit-scrollbar-thumb {
    background-color: #323232;
    border:3px solid #5c5c5c;
    border-radius:5px;
}

::-webkit-scrollbar-track {
    background-color: #5c5c5c;
}
.x-btn.active .x-btn-inner-action-link-small{
    color:#269eff;
    text-decoration:underline;
}

.white-scroll .x-grid-view::-webkit-scrollbar,
.white-scroll::-webkit-scrollbar,
.white-scroll .x-panel-body.x-scroller::-webkit-scrollbar {
    background-color: #d9d9d9;
} 

.white-scroll .x-grid-view::-webkit-scrollbar-thumb,
.white-scroll::-webkit-scrollbar-thumb,
.white-scroll .x-panel-body.x-scroller::-webkit-scrollbar-thumb  {
    background-color: #808080;
    border:5px solid #d9d9d9;
    border-radius:5px;
}

.white-scroll .x-grid-view::-webkit-scrollbar-track,
.white-scroll::-webkit-scrollbar-track,
.white-scroll .x-panel-body.x-scroller::-webkit-scrollbar-track  {
    background-color: #d9d9d9;
}
.x-grid-empty{
    background-color:transparent !important;
}
.fields .x-form-item-label-text{
    font-size:14px;
    color:#808080;
}