﻿.chat .search-field .x-form-trigger-wrap{
    border-width:0;
}
.chat .search-field{
    padding-left:10px;
    padding-right:10px;
}
.chat .header-separator{
    border-bottom:1px solid #d4d4d4;
}
.chat .text-message .x-form-trigger-wrap{
    border-color:#d4d4d4;
    border-radius: 0;
}
.chat .x-header,
.chat .x-tool-close{
    background-color: #262626;
}

.x-column-header-checkbox{
    margin-left:7px;
}