﻿


.app-mainmenu-bar .x-box-menu-body-horizontal .x-menu-item-text:hover {
    text-decoration: underline;
}

.app-mainmenu-bar .x-box-menu-body-horizontal .active .x-menu-item-text {
    color: #269eff;
    text-decoration: underline;
}

.app-mainmenu-bar .x-menu-body {
    display: flex;
}

.app-mainmenu-bar .x-menu-body .x-menu-item-link {
    display: flex;
    align-items: center;
}

.app-mainmenu-bar .x-menu-body .x-menu-item-link .x-menu-item-icon {
    top: auto;
}

.app-mainmenu-bar .x-box-item {
    border-left: 1px solid #535353;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.app-mainmenu-bar .x-box-menu-after {
    background-image: url(images/toolbar/footer-more.png) !important;
    background-repeat: no-repeat;
    background-color: transparent !important;
    border: none !important;
    border-color: black;
    background-position: center center;
    margin-right: 10px !important;
    top: -5px !important;
}

/*.app-mainmenu-bar .x-menu-item-text-dark,
.app-mainmenu-bar .x-menu-item-icon-dark,
.app-mainmenu-bar .x-box-menu-after {
    margin-top: 30px;
    top: 0;
}

@media (max-height: $responsive-height), (max-width: $responsive-width) {
    .app-mainmenu-bar .x-menu-item-text-dark,
    .app-mainmenu-bar .x-menu-item-icon-dark,
    .app-mainmenu-bar .x-box-menu-after {
        margin-top: 15px;
        top: 0;
    }
}*/

.app-mainmenu-bar .x-menu-item-arrow-dark {
    display: none;
}

.app-mainmenu-bar .x-box-menu-body-horizontal .x-menu-item-separator {
    cursor: default;
}

.app-mainmenu-bar .x-box-menu-body-horizontal .x-menu-item-separator,
.app-mainmenu-bar .x-box-menu-body-horizontal .user-profile,
.app-mainmenu-bar .x-box-menu-body-horizontal .x-box-target .x-menu-item-dark:first-child {
    border: none;
}

.menu-without-icons .x-menu-item-text {
    margin-left: 10px !important;
}
