﻿.user-card-statistic{
    border-top:1px solid #535353 !important;
    margin-top:10px;
}
.user-card-statistic-data .header{
    color:white;
    overflow:hidden;
    margin-bottom:7px;
}

.user-card-statistic-data .header span:first-child,
.user-card-statistic-data .body .item span:first-child{
    float:left;
}

.user-card-statistic-data .header span:last-child,
.user-card-statistic-data .body .item span:last-child{
    float:right;
}

.user-card-statistic-data .body .item{
    font-size:12px;
    color:#808080;
    overflow:hidden;
    margin-bottom:2px;
}

.user-card-statistic-data .body .item:nth-child(1) span:last-child{
    color:#269eff;
}

.user-card-statistic-data .body .item:nth-child(2n) span:last-child{
    color:#5ac227;
}

.user-card-statistic-data .body .item:nth-child(3n) span:last-child{
    color:#da2435;
}

.user-card-statistic-data .body .item:nth-child(4n) span:last-child{
    color:#808080;
}