/*

Siesta 3.0.2
Copyright(c) 2009-2015 Bryntum AB
http://bryntum.com/contact
http://bryntum.com/products/siesta/license

*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file:before {
	content: "\e600";
}
.icon-file-2:before {
	content: "\e601";
}
.icon-stats:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-close:before {
	content: "\e604";
}
.icon-star:before {
	content: "\e605";
}
.icon-star-2:before {
	content: "\e606";
}
.icon-file-css:before {
	content: "\e607";
}
.icon-file-xml:before {
	content: "\e608";
}
.icon-arrow-up:before {
	content: "\e609";
}
.icon-arrow-down:before {
	content: "\e60a";
}
.icon-attachment:before {
	content: "\e60b";
}
.icon-link:before {
	content: "\e60c";
}
.icon-plus:before {
	content: "\e60d";
}
.icon-minus:before {
	content: "\e60e";
}
.icon-play:before {
	content: "\e60f";
}
.icon-pause:before {
	content: "\e610";
}
.icon-stop:before {
	content: "\e611";
}
.icon-forward:before {
	content: "\e612";
}
.icon-search:before {
	content: "\e613";
}
.icon-camera:before {
	content: "\e614";
}
.icon-blocked:before {
	content: "\e615";
}
.icon-cancel-circle:before {
	content: "\e616";
}
.icon-book:before {
	content: "\e617";
}
.icon-cog:before {
	content: "\e618";
}
.icon-screen:before {
	content: "\e619";
}
.icon-keyboard:before {
	content: "\e61a";
}
.icon-tag:before {
	content: "\e61b";
}
.icon-folder:before {
	content: "\e61c";
}
.icon-folder-open:before {
	content: "\e61d";
}
.icon-clock:before {
	content: "\e61e";
}
.icon-busy:before {
	content: "\e61f";
}
.icon-spinner:before {
	content: "\e620";
}
.icon-cog-2:before {
	content: "\e621";
}
.icon-bug:before {
	content: "\e622";
}
.icon-play-2:before {
	content: "\e623";
}
.icon-stop-2:before {
	content: "\e624";
}
.icon-flag:before {
	content: "\e625";
}
.icon-lightning:before {
	content: "\e626";
}
