﻿$form-field-background-color:transparent;
$form-field-border-color:#5a5a5a;
$form-text-field-border-radius: 5px;
$form-field-padding: 8px;
$form-field-focus-border-color:#808080;
$form-field-color:#7c7c7c;