﻿.x-progress-default {
    background-color:#454545;
}
.x-progress-default .x-progress-bar-default{
    background-color:#269eff;
}

.x-progress-default .x-progress-text-back,
.x-progress-default .x-progress-text{
    color:white;
    font-weight:normal;
}