﻿@include extjs-menu-ui(
    $ui: 'dark',
	$ui-item-height : 20px
);

@include extjs-menu-ui(
    $ui: 'default',
	$ui-text-color: #212121,
	$ui-background-color: #FFF,
	$ui-item-active-background-color: #FFF,
	$ui-item-active-text-color: #ca4b4b
);

.x-menu-default{
    border:none;
    border-radius:2px;
}
.x-menu-item-text-default{
    color:#212121;
}
.x-menu-item{
    margin:5px 0 5px 0;
}

.x-menu-item:not(.x-menu-item-dark):last-child{
    margin:5px 0 0 0;
}

.x-menu-item:not(.x-menu-item-dark):first-child{
    margin:0 0 5px 0;
}
.x-menu{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.x-menu:not(.x-menu-dark) .x-menu-body{
    padding:20px;
}

.x-menu-item-active .x-menu-item-text-default{
    color:black;
}

.x-menu-item-focus .x-menu-item-text-default{
    color:#ca4b4b !important;
}