﻿$menu-background-color: #262626;
$menu-border-style: none;
$menu-item-active-background-color: #393939;
$menu-separator-background-color: 'white';
$menu-separator-border-color: $menu-background-color;
$menu-text-color: #ffffff;
$menu-separator-size: 0px;