﻿.rowclass-red {
    color: #ea3a4a;
}

.rowclass-gray {
    color: #269eff;
}

.rowclass-green {
    color: #5ac227;
}
.x-grid-row-summary .x-grid-cell{
    background-color: #fff !important;
    border-top: 1px solid #d4d4d4 !important;
    padding-top: 7px;
    background-color: transparent;
}