﻿.x-panel-card .x-panel-header .x-panel-header-title{
    cursor:pointer;
}
.x-panel-card .x-panel-header .x-panel-header-title:hover{
    text-decoration:underline;
}
.x-panel-card .x-panel-header .x-btn{
    background-color:transparent;
    background-image:none;
    padding:5px;
    border-color:#535353;
    margin-left:5px;
}
.x-panel-card .x-panel-header .x-box-inner,
.x-panel-card.maximize,
.user-card-body{
    border-top:1px solid #535353;
}
.x-panel-card.maximize{
    border-bottom:1px solid #535353;
}
.x-panel-card:first-child .x-panel-header .x-box-inner{
    border-top:none;
}

.x-panel-card .x-panel-header .x-box-inner > div{
    margin-top:5px;
}
.x-panel-card.maximize,
.x-panel-card .x-panel-body-default,
.x-panel-card.maximize .x-toolbar,
.x-panel-card.maximize .x-panel-header-card{
    background-color:#262626;
}

.x-panel-card.maximize .x-panel-header .x-box-inner,
.x-panel-card.next-card-view .x-panel-header .x-box-inner,
.x-panel-card.maximize:first-child{
    border-top-color:transparent;
}

.x-panel-card.maximize .x-panel-header-card-horizontal.x-header-noborder{
    padding:0 6px 6px 6px;
}
.user-offline .x-btn-icon-el{
    color:#666666 !important;
}

.user-card-footer .x-box-inner{
    border-top:1px solid #535353 !important;
}
.user-card-info p{
    margin:0;
    margin-bottom:7px;
}
.user-card-info span{
    color:#808080;
    display:inline-block;
    width:75px;
}
.user-card-info a,
.user-card-info a:visited{
    color:#269eff;
    text-decoration:underline;
}