﻿$datepicker-background-color: #f2f2f2;
$datepicker-item-color: #404040;
$datepicker-item-disabled-color: gray;
$datepicker-monthpicker-item-color : #404040;
$datepicker-item-prev-next-color : #808080;
$datepicker-column-header-color: #404040;