﻿.app-task-routegrid{
    border-bottom: 1px solid #535353;
}

.app-task-routegrid .x-grid-header-ct{
    padding-top:7px;
    padding-bottom:7px;
    padding-left:20px;
    padding-right:20px;
    border-bottom:1px solid #d4d4d4 !important;
}

.app-task-routegrid .x-grid-header-ct,
.app-task-routegrid .x-grid-header-ct .x-column-header{
    background-color:transparent;
    border:none;
}
.app-task-routegrid .x-grid-header-ct .x-column-header-over{
    background-color:transparent;
}
.app-task-routegrid .x-grid-header-ct .x-column-header-text-inner {
    color:#262626;
    font-size:14px;
    font-weight:bold;
}
.app-task-routegrid .x-grid-body .x-grid-cell-inner{
    color:#262626;
    font-size:14px;
}
.app-task-routegrid .x-grid-header-ct .x-column-header:first-child .x-column-header-inner{
    padding:7px 10px 7px 0;
}
.app-task-routegrid .x-grid-body{
    background:transparent;
    border-color: transparent !important;
}

.app-task-routegrid .x-grid-body .x-grid-item{
    border-bottom:1px solid #d4d4d4 !important;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:20px;
    padding-right:20px;
    background-color:transparent;
}

.app-task-routegrid .x-grid-body .x-grid-item-selected{
    border-color:transparent;
    background-color:#f2f2f2;
}

.app-task-routegrid .x-grid-body .x-grid-item .x-grid-cell-inner{
    padding:5px 0 4px 0;
}

.app-task-routegrid .x-grid-with-row-lines .x-grid-item.x-grid-item-over{
    border-color:transparent;
}
.app-task-routegrid .x-grid-with-row-lines .x-grid-item-selected + .x-grid-item{
    border-top-color:transparent;
}
.app-task-routegrid .round-status{
    width:14px;
    height:14px;
    border-radius:7px;
    display:inline-block;
    margin-right:10px;
}
.app-task-routegrid .round-status.done{
    background-color:#1bad03;
}
.app-task-routegrid .round-status.work{
    background-color:#ffda2b;
}
.app-task-routegrid .round-status.empty{
    background-color:#df0024;
}

.app-task-routegrid .stat-column .today{
    color:#269eff;
}
.app-task-routegrid .stat-column .done{
    color:#5ac227;
}
.app-task-routegrid .stat-column .old{
    color:#da2435;
}
.app-task-routegrid .stat-column .all{
    color:#808080;
}






@media (max-height: $responsive-height) {
    .app-task-routegrid .x-grid-header-ct{
        padding-top:3px;
        padding-bottom:3px;
        padding-left:10px;
        padding-right:10px;
        border-bottom:1px solid #d4d4d4 !important;
    }
    .app-task-routegrid .x-grid-header-ct .x-column-header-text-inner {
        color:#262626;
        font-size:13px;
        font-weight:bold;
    }
    .app-task-routegrid .x-grid-body .x-grid-cell-inner{
        color:#262626;
        font-size:13px;
    }
    .app-task-routegrid .x-grid-body .x-grid-item{
        border-bottom:1px solid #d4d4d4 !important;
        padding-top:3px;
        padding-bottom:3px;
        padding-left:10px;
        padding-right:10px;
        background-color:transparent;
    }
}