﻿.app-task-workpanel{
    border-right:1px solid #d4d4d4 !important;
}

.app-task-workpanel .progress{
    margin-bottom:20px;
}

.app-task-workpanel .progress .core-progressbar-container div:last-child{
    font-size:14px;
    padding-top:9px;
}
.app-task-workpanel .progress-title{
    color:#cb2e3c;
    font-size:14px;
    margin-bottom:20px;
}
.app-task-workpanel .stat{
     border-bottom:1px solid #d4d4d4 !important;
}