﻿@include extjs-tab-panel-ui(
    $ui: 'tab-white',
    $ui-tab-background-color: white,
    $ui-tab-color: #808080,
    $ui-tab-font-weight: normal,
    $ui-tab-background-color-active : white,
    $ui-tab-color-active: #000000,
    $ui-tab-border-color: transparent,
    $ui-tab-border-color-active: #dddddd,
    $ui-bar-background-color: white,
    $ui-strip-height: 1px,
    $ui-strip-background-color: #dddddd,
    $ui-tab-padding: 10px,
    $ui-tab-background-color-over: rgba(0,0,0,0.05),
    $ui-tab-border-color-over: transparent,
    $ui-tab-color-over: #000000
);

.x-tab.x-tab-active.x-tab-tab-white{
    border:none;
    border-top:1px solid #dddddd;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
}