﻿.info-card{
    margin-top:50px;
    padding-top:20px;
    border-top:1px solid #d4d4d4 !important;
    font-size:14px;
}

.info-card-title{
    font-weight:bold;
    font-size:14px;
    margin-bottom:10px;
}
.info-card-item{
    color:#7c7c7c;
}
.info-card-item b{
    font-weight:normal;
    color:black;
}
.user-photo .x-autocontainer-innerCt .x-field {
    position: absolute;
    top: 5px;
    right: 45px;
	opacity: 0;
}
.user-photo .button-trash{
    position: absolute;
    top: 5px;
    right: 5px;
	opacity: 0;
}
.user-photo .x-autocontainer-innerCt{
	vertical-align: middle;
}
.user-photo {
	border: 1px solid #dddddd!important;
}
.user-photo img {
    max-width: 180px;
    max-height: 140px;
	margin: 0 auto;
    display: block;
}
