html,
body {
    padding: 0;
    margin: 0;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
}
#msg{
    text-align:center;
    margin-top:10px;
}

ymaps[class*='-balloon'],
ymaps[class*='-balloon__tail']:after{
    background-color:#f2f2f2;
    color:#000000;
}

ymaps[class*='-balloon'] a,
ymaps[class*='-balloon'] a:visited{
    color:#269eff;
    text-decoration:underline;
}

ymaps[class*='-balloon'] a:hover{
    text-decoration:none;
}
h3.popover-title{
    font-size:14px;
    font-weight:bold;
    color:#212121;
    margin-top:0;
}
div.popover-content .document b,
div.popover-content .document span,
div.popover-content .document a{
    display:block;
}
div.popover-content .document span{
    margin-bottom:10px;
}
div.popover-content .document a {
    margin-bottom: 15px;
    text-align: right;
}